/*Navbar*/

header {
    position: sticky;  
    top: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 5%;
    margin: auto;
    font-weight: bolder;
    background-color: #F0F1F2;
}

.logo {
    height: 36px;
}

.navList {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 24px;
   list-style: none;
}

.dropdownMenu{
    position: relative;
    display: inline-block;
}

.dropdownOptions {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    padding: 10% 50%;
}

.dropdownMenu:hover .dropdownOptions {
    display: block;
}

.navButton {
    border-radius: 20px;
    border:  solid rgb(255, 20, 79);
    color: rgb(255, 20, 79);
    background-color: white;
    padding: 10%;
    width: 150%;
    font-weight: bolder;
}

button {
    cursor:pointer;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

/*Home page*/

section {
    margin-bottom: 10%;
 }

#home {
    background-color: #F0F1F2;
}

 .diamondCircle {
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
 }

 .diamondCircle img {
    max-width: 1.5%;
 }

.homeText {
    text-align: center;
}

h1 {
    font-size: 300%;
    font-weight: 900;
    text-align: center;
}

.homeParagraph {
    font-weight: normal;
    font-size: 125%;
    text-align: center;
    padding: 0 15%;
}

.buttonIcon {
    width: 15px;
    filter: invert(100%) sepia(91%) saturate(40%) hue-rotate(145deg) brightness(109%) contrast(99%);
}

.downloadButtons {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: auto;
}

.redbutton {
    background-color: rgb(255, 20, 79);
    color: white;
    border-radius: 20px;
    padding: 10px 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
}

.headerIphone {
    width: 30%;
    display: flex;
    margin: auto;
    padding: 5%;
}

.options ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.options img {
    width: 50px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
}

.options li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
}

.iconCircle {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#usersCircle {
    background-color: orchid;
}

#usersIcon {
    filter: invert(17%) sepia(62%) saturate(3180%) hue-rotate(288deg) brightness(94%) contrast(110%);
}

#analysisCircle {
    background-color: lightgreen;
}

#analysisIcon {
    filter: invert(45%) sepia(81%) saturate(578%) hue-rotate(81deg) brightness(84%) contrast(96%);
}

#taskCircle {
    background-color: lightpink;
}

#taskIcon {
    filter: invert(7%) sepia(100%) saturate(7195%) hue-rotate(354deg) brightness(128%) contrast(95%);
}

#socialCircle {
    background-color: PapayaWhip;
}

#socialIcon {
    filter: invert(48%) sepia(99%) saturate(1513%) hue-rotate(358deg) brightness(102%) contrast(83%);
}

#thingsDoneCircle {
    background-color: LightCyan;
}

#thingsDoneIcon {
    filter: invert(43%) sepia(59%) saturate(3192%) hue-rotate(164deg) brightness(97%) contrast(85%);
}

/*Description page*/

.descriptionPartOne {
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
}

.descriptionPartOneImage img{
    max-height: 500px;
}

.descriptionPartOneText {
    max-width: 40%;
}

.descriptionPartOneList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    list-style-type: square;
}

.descriptionPartTwo {
    display: flex;
    justify-content: center;
    padding: 0 10%;
    background-color: #F0F1F2;
    padding: 4% 0;
}

.descriptionPartTwoText {
    max-width: 40%;
}

.descriptionPartTwoImage img {
    max-height: 500px;
}

.descriptionPartTwoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    list-style-image: url(./media/check-solid.svg)
}

.squareButton {
    height: 35px;
    width: 125px;
    font-weight: bold;
    font-size: 1em;
}

#schedule {
    color: white;
    background-color: mediumpurple;
}

#terms {
    background-color: rgb(255, 20, 79);
    color: white;
    border-radius: 20px;
    padding: 10px 25px;
    font-weight: bold;
}

#privacy {
    border-radius: 20px;
    padding: 10px 25px;
    font-weight: bold;
}

/*Screens page*/

