/*Navbar*/

.logo {
    width: 5%;
    position: absolute;
}

nav {
    text-align: right;
    margin-right: 10%;
}

nav li {
    display: inline-block;
    padding: 1%;
    font-weight: bold;
}

.navButton {
    border-radius: 20px;
    border:  solid rgb(255, 20, 79);
    color: rgb(255, 20, 79);
    background-color: white;
    padding: 10%;
    width: 150%;
    font-weight: bolder;
}

/*Home page*/

.homeText {
    text-align: center;
}

h1 {
    font-size: 300%;
    font-weight: 900;
}

h2 {
    font-weight: normal;
    font-size: 125%;
}


.downloadButtons {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    max-height: 15%;
    margin: auto;
}

.redbutton {
    background-color: rgb(255, 20, 79);
    color: white;
    border-radius: 20px;
    width: 200px;
    padding: 0 1%;
    font-weight: bold;
}

.headerIphone {
    width: 30%;
    display: flex;
    margin: auto;
    margin-top: 5%;
}

.options li {
    margin-left: 10%;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1%;
    font-weight: bold;
}

/*Description page*/

.descriptionTop {

}

.descriptionTopImage {
    max-height: 600px;
    max-width: 50%;
    position: absolute;
}


.descriptionTextTop {
    margin-left: 50%;
    padding: 5%;
    max-height: fit-content;
}


.squareButton {
    height: 50px;
    width: 150px;
    font-weight: bold;
    font-size: 1em;
}

#schedule {
    color: white;
    background-color: mediumpurple;
}

.descriptionTextBottom {
    max-width: 50%;
    font-size: larger;
    text-align: left;
    position: absolute;
}

.descriptionImageBottom {
    margin-left: 50%;    
}

