@font-face {
    font-family: "Open Sans";
    src: url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext);
}

/*Navbar*/

.logo {
    width: 5%;
    position: absolute;
}

nav {
    text-align: right;
    margin-right: 10%;
}

nav li {
    display: inline-block;
    padding: 1%;
    font-weight: bold;
}

.navButton {
    border-radius: 20px;
    border:  solid rgb(255, 20, 79);
    color: rgb(255, 20, 79);
    background-color: white;
    padding: 10%;
    width: 150%;
    font-weight: bolder;
}

/*Home page*/

.homeText {
    text-align: center;
}

h1 {
    font-family: "Open Sans";
    font-size: 300%;
    font-weight: 900;
}

h2 {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 125%;
}


.downloadButtons {
    display: flex;
    justify-content: space-around;
    max-width: 20%;
    max-height: 15%;
    margin: auto;
}

.download {
    background-color: rgb(255, 20, 79);
    color: white;
    border-radius: 20px;
    width: 50%;
    padding: 2%;
    font-weight: bold;
}

.headerIphone {
    width: 30%;
    display: flex;
    margin: auto;
    margin-top: 5%;
}

.options li {
    margin-left: 10%;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1%;
    font-weight: bold;
}

/*Description page*/

.descriptionParagraph {
    margin-left: 50%;
    padding: 5%;
}